{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center; padding: 0 20px;">
        <img src="{% static 'home/images/PaseoKusamil_Vertical_color.png' %}" alt="Logo" style="max-width:80px; margin-right: 20px;">
        <div class="ui secondary pointing menu" style="flex-grow: 1; justify-content: center;">
            <a id="panel-administrativo" class="item" href="/dashboard/" onclick="event.preventDefault(); loadPage('/dashboard/', 'dashboard-container'); this.classList.add('active');">Panel administrativo</a>
            <div class="ui dropdown item">
                Servicios <i class="dropdown icon"></i>
                <div class="ui secondary pointing menu">
                    <a class="item">Mapa residencial</a>
                    <a class="item">Pagar Cuotas</a>
                </div>
            </div>
            <a class="item">Contactanos</a>
            <a class="item"> Calendario de Actividades</a>
            <div class="right menu">
                <a class="ui item" href="{% url 'logout' %}" style="margin-left: 20px;"><i class="user circle icon"></i>Salir</a>
            </div>
        </div>
    </div>

    <div id="dashboard-container" style="display: none; padding: 0 20px;">
        <!-- Contenido dinámico del dashboard se cargará aquí -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="/static/home/js/content-loader.js"></script>
    <script>
        // Existing dropdown initialization
        $('.ui.dropdown').dropdown();
    </script>

    <footer style="background-color: black; color: white; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        &copy; 2025 Todos los derechos reservados
    </footer>
</body>
</html>